<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQEditPhotoContainerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE8C25D01F28719D00BCA4C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE8C25E91F28719E00BCA4C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE8C25F41F28719E00BCA4C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
